:focus,
:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
	font-family: inherit;
}

button,
select,
input,
textarea {
	border: none;
	font-size: inherit;
	font-family: inherit;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
}

::placeholder {
	color: inherit;
}

textarea {
	resize: vertical;
}

li {
	list-style: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: none;
	-moz-appearance: textfield;
}
